/* BORDERS */
    /* #header {
        border: 2px solid blue; 
    }
    #body {
        border: 2px solid red;
    }
    #button-section {
        border: 2px solid green;
    }
    .mainTaskDiv {
        border: 2px solid purple;
    } */

/* HEADER */
#header {
    /* border: 2px solid blue; */

    height: fit-content;
    padding: .5em;
}

.header-logo {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#main-content {
    /* border: 2px solid pink; */
    height: 100vh;
}

#body {
    /* border: 2px solid red; */

    height: auto;
    padding-left: 3em;

    font-family: helvetica, arial, sans-serif;
}

#task-list {
    display: flex;
    flex-direction: column;
}

#task-list > div {
    padding-bottom: 5px;
}

/* checkbox element(square checkmark box) => use to edit the styling of the checkbox */
.checkbox {
    height: 20px;
    width: 20px;
}

.mainTaskDiv {
    /* border: 2px solid purple; */
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    
    display: flex;
    margin: 2px;
}

.mainTaskDiv > .task-elements-div {
    padding-left: 5px;
}

/* adds strikethrough to label/title */
.mainTaskDiv > input[type=checkbox]:checked {
    text-decoration: line-through;
}

.label-title {
    /* border: 2px solid green; */
}

.task-elements-div {
    /* border: 2px solid red; */
    padding-top: 4px;
}

.label-title {
    font-size: 1em;
}

.task-description-div {
    font-size: .8em;
}

#button-section {
    /* border: 2px solid green; */
    height: 2em;
    padding-right: 1em;

    display: flex;
    flex-direction: row-reverse;
}