/* BORDERS */
/* #header {
    border: 2px solid blue; 
}
#body {
    border: 2px solid red;
}
#button-section {
    border: 2px solid green;
} */

/* HEADER */
#header {
    /* border: 2px solid blue; */

    height: fit-content;
    padding-top: .5em;
    padding-bottom: .5em;
}

.header-logo {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#body {
/* border: 2px solid red; */

height: 85vh;
padding-left: 1em;
}

#task-list {
    display: flex;
    flex-direction: column;
}

.checkboxDiv {
    /* border: 2px solid purple; */
}

#button-section {
    /* border: 2px solid green; */
    height: 2em;
    padding-right: 1em;

    display: flex;
    flex-direction: row-reverse;
}